
<div class="container">
<div style="background: white;padding: 0 20px;">
	
 <div class="row">
  <div class="col-md-12 text-center">
  <h1>Online Data Extractor</h1>
  </div>
  <div class="col-md-12 text-center" style="margin-top:20px; margin-bottom:20px;">
	<%= form_tag(cars_details_url, :method => :get, class: "form-inline", id: "url_form") do %>
		<div class="form-group">
		<span>
			<%= text_field_tag :url,nil,value: if params[:url].present? then params[:url] else nil end, class: 'form-control',required: true,placeholder: "Enter URL to scrap, e,g http://uae.yallamotor.com/new-cars/rolls-royce.", style: "width: 450px"%>
			</span>
			<button type="submit" class="btn btn-info">Extract</button>
	  	</div>
	<%end%>
  	</div>
  </div>
  <%if @array.present?%>
	 <div class="row">
	  <div class="col-md-12">
	   <table id="data-extractor-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
	    <thead>
	     <tr>
	      <th>Type</th>
	      <th>Title</th>
	      <th>Price</th>
	     </tr>
	    </thead>
	    <tfoot>
	     <tr>
	      <th>Type</th>
	      <th>Title</th>
	      <th>Price</th>
	     </tr>
	    </tfoot>
	    <tbody>
		    <%@array.each_with_index do |arr,array_index|%>
		      	<%arr["#{@scrapped_urls[array_index]}"].each do |year_model|%>
	    			<tr>
			    	<td>Car Model</td>
		      		<td><%=year_model["model"]%></td>
			      	<td></td>
			      	</tr>
			    	<%year_model["versions"].each do |version|%>
					     <tr>
					      <td>Car Version</td>
					      <td><%= version["car_version"]%></td>
					      <td><%= version["price"]%></td>
					     </tr>
			     	<%end%>
		     	<%end%>
		    <%end%>
	    </tbody>
	   </table>
	  </div>
	 </div>
 <%elsif @notice.present?%>
 	<h1 class="text-center"><%=@notice%></h1>
 <%end%>
</div>
</div>

<script>
$(document).ready(function() {
    $('#data-extractor-table').dataTable({
    	"dom": 'T<"clear">lfrtip',
    	"aaSorting" : [],
    	"bSort" : false,
    	"tableTools": {
            "sSwfPath": "../assets/dataTables/swf/copy_csv_xls_pdf.swf"
        }
    });
    $("#url_form").validate({
		  rules: {
		    "url": {
		      required: true,
		      url: true,
		    }
		  },
		  messages:{
		    "url":{
		      required: "Please enter a url",
		      url: "Kindly enter a valid url to extract content"
		    }
		  }
		});
} );	
</script>
</html>