
label.error {
     font-family: sans-serif;
    display: block;
    /* text-align: left; */
    color: rgba(255, 0, 0, 0.9);
}
.form-group span{
    display: inline-block;
    width: 450px;
    margin-right: 10px;
    float: left;
}
.form-control.error, .contact-form .form-control.error { border: solid 2px rgba(255, 0, 0, 0.9); }